main {
	background-color: #f5f5f5;
	padding: 100px;
}

/* Contact wrapper */

main #contact-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;

	margin-bottom: 100px;
}

/* Contact info */
main #contact-info {
	width: 47%;
	max-width: 370px;

	display: flex;
	flex-direction: column;
}

main #contact-info h2 {
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.3px;
	text-align: left;
	color: #171717;

	margin-bottom: 43px;
}

main #contact-info #contact-info-summary {
	margin-bottom: 36px;
}

main #contact-info p {
	font-family: NunitoSans;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.08px;
	text-align: left;
	color: #787878;
}

main #contact-info #contact-info-contacts span {
	line-height: 2.25;
}

main #contact-info #contact-info-contacts .contact-title {
	font-weight: bold;
	color: #171717;
}

/* Contact form */

main #contact-form {
	width: 47%;
}

main #contact-form form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

main #contact-form input,
main #contact-form textarea {
	border: none;
	background-color: #ffffff;
	margin-bottom: 30px;
	width: 100%;
	padding: 20px;

	font-family: NunitoSans;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 0.08px;
	text-align: left;
	color: #000000;
}

main #contact-form input::placeholder,
main #contact-form textarea::placeholder {
	font-family: NunitoSans;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 0.08px;
	text-align: left;
	color: #787878;
}

main #contact-form input {
	height: 48px;
}

main #contact-form textarea {
	height: 170px;
}

main #contact-form .input-short {
	width: 320px;
}

/* Contact map */

main #contact-map {
	/* padding: 0px 100px 100px 100px; */
}

main #contact-map #google-map {
	width: 100%;
	height: 470px;
	background-color: #e0e0e0;

	margin: auto;
}
