/* Home head */

main #home-head {
	height: 313px;
	background-color: #e6e6e6;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main #home-head h1 {
	max-width: 512px;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 500;
	line-height: 2.21;
	letter-spacing: 0.38px;
	text-align: center;
	color: #171717;
}

main #home-head p {
	max-width: 512px;
	font-family: NunitoSans;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: 0.09px;
	text-align: center;
	color: #787878;
}

/* Home grid */

main #home-grid #grid-row {
	display: flex;
	flex-wrap: wrap;
}

main #home-grid #grid-row .project-wrapper {
	width: 25%;
	height: 300px;
	position: relative;
}

main #home-grid #grid-row .project-wrapper div {
	width: 100%;
	height: 300px;

	position: absolute;
	top: 0;
	left: 0;
}

main #home-grid #grid-row .project-wrapper .project-hover {
	background-color: #10c9c3;
	z-index: 1;
	display: none;

	justify-content: center;
	align-items: center;
}

main #home-grid #grid-row .project-wrapper .project-hover .project-hover-img {
	width: 48px;
	height: 30px;
}

main #home-grid .box-dark {
	background-color: #838383;
}

main #home-grid .box-light {
	background-color: #dddddd;
}
