/* Head */

main #about-head {
	height: 350px;
	opacity: 0.8;
	background-color: #141414;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main #about-head h1 {
	max-width: 512px;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 500;
	line-height: 2.21;
	letter-spacing: 0.38px;
	text-align: center;
	color: #ffffff;
}

main #about-head p {
	max-width: 512px;
	font-family: NunitoSans;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: 0.09px;
	text-align: center;
	color: #ffffff;
}

/* Achievments */

main #about-achievments {
	min-height: 240px;
	background-color: #10c9c3;
	padding: 102px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

main #about-achievments .box {
	min-width: 235px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

main #about-achievments .box img {
	width: 40px;
	height: 36px;
	color: #ffffff;

	margin-right: 28px;
}

main #about-achievments .box .text-box {
	display: flex;
	flex-direction: column;
	max-width: 170px;
}

main #about-achievments .box .text-box span {
	font-family: Montserrat;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 1.2px;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
}

main #about-achievments .box .text-box .text-box-count {
	font-size: 18px;
	line-height: 1.67;
}

main #about-achievments .box .text-box .text-box-text {
	font-size: 12px;
	line-height: 2.5;
}

/* About me */

main #about-me {
	min-height: 570px;
	display: flex;
}

main #about-me div {
	width: 50%;
}

main #about-me #about-me-image {
	background-color: #e1e1e1;
}

main #about-me #about-me-info {
	background-color: #f5f5f5;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	padding: 140px 143px 140px 86px;
}

main #about-me #about-me-info h2 {
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.8;
	letter-spacing: 0.3px;
	text-align: left;
	color: #171717;

	margin-bottom: 40px;
}

main #about-me #about-me-info p {
	font-family: NunitoSans;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.08px;
	text-align: left;
	color: #787878;

	margin-bottom: 15px;
}

main #about-me #about-me-info #about-me-info-sign {
	width: 223px;
	height: 57px;

	margin-top: 37px;
}

main #about-call-to-action {
	min-height: 397px;
	padding: 100px 50px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main #about-call-to-action h2 {
	max-width: 235px;
	margin-bottom: 35px;

	font-family: Montserrat;
	font-size: 30px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.3px;
	text-align: center;
	color: #1d1d1d;
}

main #about-call-to-action p {
	max-width: 537px;
	margin-bottom: 38px;

	font-family: NunitoSans;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.08px;
	text-align: center;
	color: #787878;
}
