/* General styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

ul {
	list-style: none;
}

/* Header  */

header {
	display: flex;
	justify-content: space-between;
	padding: 38px 98px;
}

header #home-logo {
	width: 31px;
	height: 25px;
}

header nav {
	min-width: 215px;
	display: flex;
	justify-content: space-between;

	font-family: Montserrat;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2;
	letter-spacing: 1.2px;
	text-align: left;
	color: #191919;
}

header nav a:hover,
header nav a:active,
header nav #focused {
	color: #10c9c3;
}

/* Footer */

footer {
	min-height: 284px;
	background-color: #141414;
	padding: 100px;

	display: flex;
	justify-content: left;
}

footer p,
footer a {
	font-family: NunitoSans;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 0.08px;
	text-align: left;
	color: #bcbcbc;
}

footer div {
	display: flex;
	flex-direction: column;
}

footer #footer-credentials {
	max-width: 255px;
	margin-right: 246px;
}

footer #footer-credentials #company-name {
	margin-bottom: 27px;

	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.18px;
	text-align: left;
	color: #ffffff;
}

footer #footer-contacts {
	margin-right: 145px;
}

footer #footer-sitemap ul {
	max-width: 370px;
	display: flex;
	justify-content: flex-start;
}

footer #footer-sitemap ul .group:nth-child(1) {
	margin-right: 55px;
}

footer #footer-sitemap ul .group:nth-child(2) {
	margin-right: 135px;
}
